* 
{
    margin: 0;
    padding: 0;

}
body
 {
    font-family: sans-serif;
 }

 #nav-bar
 {
     position: sticky;
     top: 0;
     z-index: 10;
 }
 .navbar
 {
     background-image: linear-gradient(to right,#a517ba,#5f1782);
     padding: 0 !important;
 }
 .navbar-brand img
 {
     height: 65px;
     padding-left: 20px;
 }
 .navbar-nav li
 {
     padding: 0 10px;

 }
 .navbar-nav li a
 {
     color: rgb(9, 255, 0) !important;
     font-weight: 600;
     float: right;
     text-align: left;
 }
 
 .fa-bars
 {
     color: #fff;
     font-size: 30px !important;

 }
 .navbar-toggler
 {
     outline: none !important;
 }

 /*-----------------Banner Section------------------------------------*/

 #banner
 {
     background-image: linear-gradient(to right, #a517ba,#5f1782);
     color: #fff;
     padding-top:  5%;
 }
 .promo-title
 {
     font-size: 40px;
     font-weight: 600;
     margin-top: 0px;
 }
 .img-fluid
 {
     background-color: linear-gradient(to right,#a517ba,#5f1782);
     color: #fff;
     padding-inline: 1000%;
    
     width: 80cm;
 }
 .bottom-img
 {
     width: 100%;
 }

 /*------------Service Section---------------------------------*/

 #services
 {
     padding: 80px 0;
 }
 .service-img
 {
     width: 250px;
     height: 100px;
     margin-top: 0px;
 }
 
 .services h4
 {
     padding: 5px;
     margin-top: 5px;
 }
 .title::before
 {
     content: '';
     background: #7b1798;
     height: 5px;
     width: 300px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     transform: translateY(63px);
 }
 .title::after
 {
     content: '';
     background: #7b1798;
     height: 10px;
     width: 50px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 40px;
     display: block;
     transform: translateY(8px);

 }
 #services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
}

/*--------------About Us---Section--------------*/

#about-us
{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title
{
    font-size: 40px;
    font-weight: 500px;
    margin-top: 8%;
    margin: 0px 0px 0px 50px;
}
#about-us ul li
{
    margin: 10px 10px 10px 50px;
}
#about-us ul
{
    margin-left: 20px;
}

/*----------------Testimonials Section------------------------------*/

#testimonials
{
    margin: 100px 0;
}
.testimonials
{
    border-left: 4px solid #7b1798 ;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 10px;
}
.user-details
{
    display: inline-block;
    font-size: 15px; 
}
/*----------------Social Media Section--------------------*/

#social-media
{
     background: #f8f9fa;
     padding: 100px 0;
}
#social-media p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;

}
.social-icons img
{
    width: 60px;
    transform: 0.5s;
}
.social-icons a:hover img
{
    transform: translateY(-10px);
}

/*---------------Footer Section----------------------------------*/

#footer
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
}
.footer-img
{
    width: 100%;
    height: 1px;
}
.footer-box
{
    padding: 20px;
    
}
.footer-box img
{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);

}
.footer-box .form-control
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);

}
hr
{
     background-color: rgb(235, 225, 225);
}
.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

/*---------------Smooth Scroll------------------*/



  .navbar {
    padding:0rem;
    

   
  }
  
  .dropdown .dropdown-menu {
    border-radius:0;
    background-image: linear-gradient(to right,#a517ba,#5f1782); 
    
}
    
  /* Medium devices (tablets, 768px and up) 
  The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) 
  {  
  .dropdown:hover .dropdown-menu 
  {
      display: block;
      margin-top: 0;
    border-radius:0;
    
   }
  }
  